<section class="ftco-section ftco-no-pt">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 py-5">
        <div class="heading-section ftco-animate">
          <span class="subheading">Services</span>
          <h2 class="mb-4">Why Select Us?</h2>
          <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a
            paradisematic country, in which roasted parts of sentences fly into your.</p>
          <p><a href="#" class="btn btn-primary py-3 px-4">Free Consultation</a></p>
        </div>
      </div>
      <div class="col-lg-9 services-wrap px-4 pt-5">
        <div class="row pt-md-3">
          <div class="col-md-4 d-flex align-items-stretch">
            <div class="services text-center">
              <div class="icon d-flex justify-content-center align-items-center">
                <span class="flaticon-lawyer"></span>
              </div>
              <div class="text">
                <h3>Fight for Justice</h3>
                <p>Seeking justice in the world is a sed significant emotional and investment when we follow this
                  call.</p>
              </div>
              <a href="#" class="btn-custom d-flex align-items-center justify-content-center"><span
                  class="ion-ios-arrow-round-forward"></span></a>
            </div>
          </div>
          <div class="col-md-4 d-flex align-items-stretch">
            <div class="services text-center">
              <div class="icon d-flex justify-content-center align-items-center">
                <span class="flaticon-lawyer"></span>
              </div>
              <div class="text">
                <h3>Best Case Strategy</h3>
                <p>Seeking justice in the world is a sed significant emotional and investment when we follow this
                  call.</p>
              </div>
              <a href="#" class="btn-custom d-flex align-items-center justify-content-center"><span
                  class="ion-ios-arrow-round-forward"></span></a>
            </div>
          </div>
          <div class="col-md-4 d-flex align-items-stretch">
            <div class="services text-center">
              <div class="icon d-flex justify-content-center align-items-center">
                <span class="flaticon-lawyer"></span>
              </div>
              <div class="text">
                <h3>Experienced Attorney</h3>
                <p>Seeking justice in the world is a sed significant emotional and investment when we follow this
                  call.</p>
              </div>
              <a href="#" class="btn-custom d-flex align-items-center justify-content-center"><span
                  class="ion-ios-arrow-round-forward"></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
