---
layout: default
---

{% comment %}{% include miniaturas/excludes/index/0-hero.html %}{% endcomment %}
{% comment %}{% include miniaturas/excludes/index/1-services.html %}{% endcomment %}
{% comment %}{% include miniaturas/excludes/index/2-welcome.html %}{% endcomment %}
{% comment %}{% include miniaturas/excludes/index/3-case-studies.html %}{% endcomment %}
{% comment %}{% include miniaturas/excludes/index/4-attorneys.html %}{% endcomment %}
{% comment %}{% include miniaturas/excludes/index/5-contact.html %}{% endcomment %}
{% comment %}{% include miniaturas/excludes/index/6-testimonials.html %}{% endcomment %}
{% comment %}{% include miniaturas/excludes/index/7-blog.html %}{% endcomment %}

<!-- Hero -->
<div class="hero-wrap js-fullheight" style="background-image: url('/assets/images/cintia-susñar-hero.jpg');"
  data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start"
      data-scrollax-parent="true">
      <div class="col-md-6 ftco-animate hero-text">
        <h1>Cintia Susñar</h1>
        <h2 class="subheading">Concejal de Rio Grande, Tierra del Fuego</h2>
      </div>
    </div>
  </div>
</div>

<!-- Sobre mi -->
<section id="sobre-mi" class="ftco-section <!--ftco-no-pb-->">
  <div class="container">
    <div class="row d-flex">
      <div class="col-md-6 pl-md-5">
        <div class="row justify-content-start pt-3 pb-3">
          <div class="col-md-12 heading-section ftco-animate">
            <span class="subheading">¡HOLA VECINO!</span>
            <h2 class="mb-4">Un poco sobre mí.</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
              ea commodo consequat.
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
              ea commodo consequat.
            </p>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 d-flex">
        <div
          class="img img-video d-flex align-self-stretch align-items-center justify-content-center justify-content-md-end"
          style="background-image:url(/assets/images/cintia-susñar-sobre-mi.jpg);">
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Banner COVID/Genero -->
<section class="ftco-section ftco-bg-dark">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-10 text-center heading-section ftco-animate">
        <h2 class="mb-4" style="color: red;">BANNER COVID / DIGESTO DE GENERO</h2>
      </div>
    </div>
  </div>
</section>

<!-- Proyectos -->
<section class="ftco-section bg-light">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-10 text-center heading-section ftco-animate">
        <span class="subheading">Proyectos</span>
        <h2 class="mb-4">Ultimos Proyectos</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="carousel-case owl-carousel ftco-owl">
          {% include miniaturas/proyecto.html %}
          {% include miniaturas/proyecto.html %}
          {% include miniaturas/proyecto.html %}
          {% include miniaturas/proyecto.html %}
        </div>
      </div>
      <div class="col-md-12 text-center mt-4">
        <a href="/proyectos" class="btn btn-primary px-5">Ver Todos Los Proyectos</a>
      </div>
    </div>
  </div>
</section>

<!-- Nuestra Ciudad-->
<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-10 text-center heading-section ftco-animate">
        <span class="subheading">Nuestra Ciudad</span>
        <h2 class="mb-4">Lorem ipsum dolor sit amet consectetur adipiscing</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="carousel-case owl-carousel ftco-owl">
          {% include miniaturas/ciudad.html %}
          {% include miniaturas/ciudad.html %}
          {% include miniaturas/ciudad.html %}
          {% include miniaturas/ciudad.html %}
        </div>
      </div>
      <div class="col-md-12 text-center mt-4">
        <a href="/nuestra-ciudad" class="btn btn-primary px-5">Mirá La Galería Completa</a>
      </div>
    </div>
  </div>
</section>


<!-- Los Protagonistas -->
<section class="ftco-section bg-light">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 heading-section text-center ftco-animate">
        <span class="subheading">Junto a los y las protagonistas de nuestra historia</span>
        <h2>Los Protagonistas</h2>
      </div>
    </div>
    <div class="row d-flex">
      {% include miniaturas/protagonista.html %}
      {% include miniaturas/protagonista.html %}
      {% include miniaturas/protagonista.html %}
    </div>
    <div id="contacto" class="col-md-12 text-center mt-4">
      <a href="/los-protagonistas" class="btn btn-primary px-5">Leer más</a>
    </div>
  </div>
</section>

<!-- Contacto -->
<section class="ftco-consultation ftco-section ftco-no-pt ftco-no-pb img"
  style="background-image: url(/assets/images/cintia-susñar-contacto.jpg);">
  <div class="overlay"></div>
  <div class="container">
    <div class="row d-md-flex justify-content-end">
      <div class="col-md-6 half p-3 py-5 pl-md-5 ftco-animate heading-section heading-section-white">
        <span class="subheading">Ante cualquier consulta</span>
        <h2 class="mb-4">Contáctame</h2>
        <form name="contact" method="POST" data-netlify="true">
          <p>
            <label>Your Name: <input type="text" name="name" /></label>
          </p>
          <p>
            <label>Your Email: <input type="email" name="email" /></label>
          </p>
          <p>
            <label>Your Role: <select name="role[]" multiple>
              <option value="leader">Leader</option>
              <option value="follower">Follower</option>
            </select></label>
          </p>
          <p>
            <label>Message: <textarea name="message"></textarea></label>
          </p>
          <p>
            <button type="submit">Send</button>
          </p>
        </form>

        <!--
        <form name="contact" method="POST" data-netlify="true" class="consultation">
          <div class="form-group">
            <input type="text" name="name" class="form-control" placeholder="Tu nombre">
          </div>
          <div class="form-group">
            <input type="email" name="email" class="form-control" placeholder="Tu correo electrónico">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Asunto">
          </div>
          <div class="form-group">
            <textarea name="message" id="" cols="30" rows="7" class="form-control"
              placeholder="¿Cómo puedo ayudarte?"></textarea>
          </div>
          <div class="form-group">
            <input type="submit" value="Enviar Mensaje" class="btn btn-dark py-3 px-4">
          </div>
        </form>
        -->
      </div>
    </div>
  </div>
</section>

<!-- Social -->
<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-10 text-center heading-section ftco-animate">
        <h2 class="mb-4">Encontrame en las Redes Sociales</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <ul class="ftco-social list-unstyled">
          <li class="ftco-animate"><a href="https://twitter.com/csusnar"><span class="icon-twitter"></span></a></li>
          <li class="ftco-animate"><a href="https://www.facebook.com/cssusnar"><span class="icon-facebook"></span></a>
          </li>
          <li class="ftco-animate"><a href="https://www.instagram.com/cssusnar"><span class="icon-instagram"></span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<!-- Noticias -->
<section class="ftco-section bg-light">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 heading-section text-center ftco-animate">
        <span class="subheading">Noticias</span>
        <h2>Ultimas Noticias</h2>
      </div>
    </div>
    <div class="row d-flex">
      {% include miniaturas/noticia.html %}
      {% include miniaturas/noticia.html %}
      {% include miniaturas/noticia.html %}
    </div>
    <div class="col-md-12 text-center mt-4">
      <a href="/noticias" class="btn btn-primary px-5">Ver Todas Las Noticias</a>
    </div>
  </div>
</section>
