---
layout: default
---

<section class="hero-wrap hero-wrap-2" style="background-image: url('/assets/images/cintia-susñar-hero-2.jpg');"
  data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-end justify-content-center">
      <div class="col-md-9 ftco-animate pb-5 text-center">
        <h1 class="mb-3 bread">Los Protagonistas</h1>
        <p class="breadcrumbs"><span class="mr-2"><a href="/">Inicio <i
                class="ion-ios-arrow-forward"></i></a></span> <span>Los Protagonistas <i class="ion-ios-arrow-forward"></i></span>
        </p>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section bg-light">
  <div class="container">
    <div class="row d-flex">
      {% include miniaturas/protagonista.html %}
      {% include miniaturas/protagonista.html %}
      {% include miniaturas/protagonista.html %}

      {% include miniaturas/protagonista.html %}
      {% include miniaturas/protagonista.html %}
      {% include miniaturas/protagonista.html %}
    </div>
    {% include paginator.html %}
  </div>
</section>
