---
layout: default
---

{% include hero-page.html title="Los Protagonistas" image="/assets/images/cintia-susñar-hero-2.jpg"%}

<section class="ftco-section bg-light">
  <div class="container">
    <div class="row d-flex">
      {% for post in site.posts %}
        {% if post.categories contains "los-protagonistas" %}
          {% include miniaturas/protagonista.html
            title="FOO"
            description="asdsdsads"
            image="/assets/images/cintia-susñar-hero-2.jpg"
            url="/"
            %}
        {% endif %}
      {% endfor %}
    </div>
    {% include paginator.html %}
  </div>
</section>
