---
layout: default
---

{% include hero-page.html title="Noticias" image="/assets/images/cintia-susñar-hero-2.jpg"%}

<section class="ftco-section bg-light">
  <div class="container">
    <div class="row d-flex">
      {% for post in site.posts %}
        {% if post.categories contains "noticias" %}
          {% include miniaturas/noticia.html
            title="{{ post.title }}"
            image="{{ post.image }}"
            url="{{ post.url }}"
            description="{{ post.description }}"%}
        {% endif %}
      {% endfor %}
    </div>
    {% include paginator.html %}
  </div>
</section>
