---
layout: default
---

{% include hero-page.html title="Proyectos" image="/assets/images/cintia-susñar-hero-2.jpg"%}

<section class="ftco-section bg-light">
  <div class="container">
    <div class="row d-flex">
      {% include miniaturas/_proyecto.html %}
      {% include miniaturas/_proyecto.html %}
      {% include miniaturas/_proyecto.html %}

      {% include miniaturas/_proyecto.html %}
      {% include miniaturas/_proyecto.html %}
      {% include miniaturas/_proyecto.html %}
    </div>
    {% include paginator.html %}
  </div>
</section>
