---
layout: default
---

<section class="hero-wrap hero-wrap-2" data-stellar-background-ratio="0.5"
  style="background-image: url('{{ site.data.configuracion.hero-paginas}}');">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-end justify-content-center">
      <div class="col-md-9 ftco-animate pb-5 text-center">
        <h1 class="mb-3 bread">{{ page.category }}</h1>
        <p class="breadcrumbs">
          <span class="mr-2"><a href="/">Inicio <i class="ion-ios-arrow-forward"></i></a></span>
          <span class="mr-2"><a href="/{{ page.category }}">{{ page.category }} <i class="ion-ios-arrow-forward"></i></a></span>
          </span> <span>{{ page.title }}</span>
        </p>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-degree-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 ftco-animate post">
        <p>
          <img src="{{ page.image }}" alt="" class="img-fluid">
        </p>
        {{ content }}
      </div> <!-- .col-md-8 -->
      <div class="col-lg-4 sidebar pl-lg-5 ftco-animate">
        <div class="sidebar-box ftco-animate">
          <h3>{{ page.category }} Recientes</h3>
          {% assign sorted-posts = site.posts | where: "categories", page.category %}
          {% for post in sorted-posts limit:3 %}
          {% include miniaturas/post.html
              title=post.title
              image=post.image
              url=post.url
            %}
          {% endfor %}
        </div>
        <div class="sidebar-box ftco-animate">
          <h3>{{ site.data.configuracion.nombre }}</h3>
          <p>{{ site.data.configuracion.descripcion }}</p>
        </div>
      </div>

    </div>
  </div>
</section>
