{% if include.image %}
  {% assign image = include.image %}
{% else %}
  {% assign image = "https://via.placeholder.com/1000x667?text=" | append: include.title %}
{% endif %}

<div class="ftco-animate">
  <div class="blog-entry justify-content-end">
    <a href="{{ include.url }}" class="block-20" style="background-image: url('{{ image }}');">
    </a>
    <div class="text p-4 float-right d-block">
      <div class="topper d-flex align-items-center">
        <div class="one py-2 pl-3 pr-1 align-self-stretch">
          <span class="day">01</span>
        </div>
        <div class="two pl-0 pr-3 py-2 align-self-stretch">
          <span class="yr">2020</span>
          <span class="mos">Enero</span>
        </div>
      </div>
      <h3 class="heading mb-0"><a href="{{ include.url }}">{{ include.title }}</a></h3>
    </div>
  </div>
</div>
